# Lenguaje de Manipulación de Datos (DML) en SQL

## 2. LIKE, IS NULL, AND, OR, NOT, UNION

### LIKE

El operador `LIKE` se utiliza en una cláusula `WHERE` para buscar un patrón específico en una columna.

#### Sintaxis:

```sql
SELECT columna1, columna2, ...
FROM tabla
WHERE columna LIKE patrón;

## EJEMPLO


| id | nombre | edad | ciudad    |
|----|--------|------|-----------|
| 1  | Juan   | 20   | Madrid    |
| 2  | María  | 22   | Barcelona |
| 3  | Pedro  | 18   | Valencia  |
| 4  | Ana    | 21   | Madrid    |
| 5  | Luis   | 23   | Sevilla   |

## Operador LIKE %
### Supongamos que queremos seleccionar todos los estudiantes cuyos nombres comienzan con la letra 'M'

```sql
SELECT nombre, edad
FROM estudiantes
WHERE nombre LIKE 'M%';

| nombre | edad |
|--------|------|
| María  | 22   |

## Operador OR 

### El operador `OR` se utiliza para combinar múltiples condiciones en una cláusula `WHERE`. Al menos una de las condiciones debe ser verdadera para que se seleccionen los registros.
### Queremos seleccionar todos los estudiantes que viven en Madrid o tienen 22 años.

```sql

SELECT nombre, edad
FROM estudiantes
WHERE ciudad = 'Madrid' OR edad = 22;

| nombre | edad |
|--------|------|
| Juan   | 20   |
| María  | 22   |
| Ana    | 21   |

## Operador NOT

### El operador `NOT` se utiliza para excluir registros que cumplen una condición en una cláusula `WHERE`.
### Queremos seleccionar todos los estudiantes que no viven en Madrid.

```sql
SELECT nombre, edad
FROM estudiantes
WHERE NOT ciudad = 'Madrid';

| nombre | edad |
|--------|------|
| María  | 22   |
| Pedro  | 18   |
| Luis   | 23   |

## Operador UNION 
### El operador `UNION` se utiliza para combinar los resultados de dos o más sentencias `SELECT`. Cada sentencia `SELECT` dentro de `UNION` debe tener el mismo número de columnas en la misma orden y con tipos de datos similares.
### Queremos seleccionar todos los estudiantes que no viven en Madrid.

```sql

SELECT nombre, edad
FROM estudiantes
UNION
SELECT nombre, edad
FROM ex_estudiantes;

TABLA A UNIR
id	nombre	edad	ciudad
6	Carlos	24	Valencia
7	Laura	25	Sevilla

| nombre | edad |
|--------|------|
| Juan   | 20   |
| María  | 22   |
| Pedro  | 18   |
| Ana    | 21   |
| Luis   | 23   |
| Carlos | 24   |
| Laura  | 25   |