# Lenguaje de Manipulación de Datos (DML) en SQL

## 1. SELECT, DISTINCT, BETWEEN

### SELECT

La sentencia `SELECT` se utiliza para consultar datos de una base de datos. Es una de las sentencias más utilizadas en SQL.

#### Sintaxis:

```sql
SELECT columna1, columna2, ...
FROM tabla;

### DISTINCT 

La palabra clave `DISTINCT` se utiliza en la sentencia `SELECT` para devolver solo valores distintos (diferentes). Esto elimina los duplicados en los resultados. 

#### Sintaxis:

```sql
SELECT DISTINCT columna1, columna2, ...
FROM tabla;

### BETWEEN 

El operador `BETWEEN` se utiliza para filtrar los resultados dentro de un rango específico de valores. Este operador puede ser utilizado con números, textos o fechas. 

#### Sintaxis:
```sql
    SELECT columna1, columna2, ...
    FROM table
    WHERE columna BETWEEN valor1 AND valor2;

## EJEMPLO


| id | nombre | edad | ciudad    |
|----|--------|------|-----------|
| 1  | Juan   | 20   | Madrid    |
| 2  | María  | 22   | Barcelona |
| 3  | Pedro  | 18   | Valencia  |
| 4  | Ana    | 21   | Madrid    |
| 5  | Luis   | 23   | Sevilla   |

```sql

SELECT nombre, edad
FROM estudiantes
WHERE edad BETWEEN 18 AND 22;

| nombre | edad |
|--------|------|
| Juan   | 20   |
| María  | 22   |
| Pedro  | 18   |
| Ana    | 21   |

```sql
SELECT DISTINCT ciudad
FROM estudiantes;

| ciudad    |
|-----------|
| Madrid    |
| Barcelona |
| Valencia  |
| Sevilla   |